Repository anolilab/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

.lintstagedrc:

{
    "**/*.{js,jsx,tsx,ts}": [
        "prettier --config=.prettierrc.cjs --write",
        "cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix
        "
    ],
    "*.{json,yml,yaml,less,css,scss,sass}": [
        "prettier --config=.prettierrc.cjs --write"
    ],
    "*.{md,mdx}": [
        "prettier --config=.prettierrc.cjs --write"
    ]
}

chore(deps): update dependency vitest to ^0.15.0
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

fix: skip transforming of js files to script tags
  src/html-to-pdf.ts
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

feat: extended docs, added new default favicon and new marketing text to the index.html
  .github/settings.yml
  .lintstagedrc
  README.md
  assets/favicon.svg
  assets/robots.txt
  assets/style.css
  dist/.gitignore
  index.html
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

fix: changed layout on md size device 768x1024 and 834x1112
  index.html
Due: none

feat: updated dependencies, added theme switch, fixed found eslint errors
  .eslintrc.cjs
  .eslintrc.js
  .github/settings.yml
  .github/workflows/stale-issues.yml
  .gitignore
  .lintstagedrc
  .nvmrc
  .prettierrc.cjs
  .prettierrc.js
  README.md
  __tests__/utils/get-network.test.ts
  assets/favicon.svg
  bin/build-pdf.ts
  bin/download-resume-gist.ts
  index.html
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/formatter.ts
  src/html-to-pdf.ts
  src/main.tsx
  src/utils/get-github-repo-stars.ts
  src/utils/get-gravatar-url.ts
  src/utils/get-network.ts
  src/utils/get-url-from-username.ts
  tailwind.config.js
  tsconfig.json
  verify-node-version.cjs
  vite.config.ts
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

feat: update workflows and husky hooks for stricter policies
  .czrc
  .github/commit-convention.md
  .github/file-filters.yml
  .github/renovate.json5
  .github/settings.yml
  .github/workflows/cache-clear.yml
  .github/workflows/codeql.yml
  .github/workflows/comment-issue.yml
  .github/workflows/dependency-review.yml
  .github/workflows/greetings.yml
  .github/workflows/introspect.yml
  .github/workflows/lint.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale-issues.yml
  .github/workflows/test.yml
  .github/workflows/yaml-lint.yml
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  .lintstagedrc.js
  .releaserc.json
  .secretlintignore
  .secretlintrc.js
  commitlint.config.cjs
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

style: cs fixes
  __tests__/utils/get-network.test.ts
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: fixed audit
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --config=.prettierrc.cjs --write

fix: add package version overrides in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

fix: update testing and coverage dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

fix: removed markdown lint workflow
  .github/workflows/markdown-lint.yml
Due: prettier --config=.prettierrc.cjs --write

fix: updated all deps
  .github/renovate.json5
  .github/semantic.yml
Due: prettier --config=.prettierrc.cjs --write

fix: updated node version in the readme and lock
  README.md
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

chore: lock update
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

fix: fixed pnpm audit
  .github/workflows/require-allow-edits.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

ci: update semantic check
  .github/semantic.yml
  .github/workflows/semantic-pull-request.yml
Due: prettier --config=.prettierrc.cjs --write

ci: moved audit to audit-ci
  .github/workflows/lint.yml
  .github/workflows/test.yml
  audit-ci.jsonc
  package.json
Due: prettier --config=.prettierrc.cjs --write

fix: updated all deps (#109)
  .github/renovate.json5
  .github/semantic.yml
  .github/workflows/lint.yml
  .github/workflows/require-allow-edits.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/test.yml
  README.md
  audit-ci.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

chore: update configuration files and improve formatting
  .github/CODE_OF_CONDUCT.md
  .github/commit-convention.md
  .github/settings.yml
  .github/workflows/lint.yml
  .gitignore
  README.md
  bin/build-pdf.ts
  tsconfig.json
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: update Node.js version in documentation and configuration
  README.md
  tsconfig.json
Due: prettier --config=.prettierrc.cjs --write

chore: enhance GitHub Actions workflows and ESLint configuration
  .github/workflows/lint.yml
  eslint.config.js
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: update audit configuration and package dependencies
  audit-ci.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --config=.prettierrc.cjs --write

chore: standardize workflow file formatting and update dependency overrides
  .github/workflows/allo-allo.yaml
  .github/workflows/cache-clear.yml
  .github/workflows/codeql.yml
  .github/workflows/comment-issue.yml
  .github/workflows/dependency-review.yml
  .github/workflows/introspect.yml
  .github/workflows/lock-issues.yaml
  .github/workflows/require-allow-edits.yml
  .github/workflows/scorecards.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale-issues.yml
  pnpm-workspace.yaml
Due: prettier --config=.prettierrc.cjs --write

chore: update audit allowlist and ESLint configuration
  audit-ci.jsonc
  eslint.config.js
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: remove deprecated GitHub settings and standardize workflow file formatting
  .github/settings.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lock-issues.yaml
  .github/workflows/test.yml
Due: prettier --config=.prettierrc.cjs --write

chore: standardize configuration files and improve workflow formatting
  .github/FUNDING.yml
  .github/workflows/test.yml
  .yamllint.yaml
  eslint.config.js
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: update dependencies and configuration files
  bin/download-resume-gist.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.cjs
  tsconfig.json
  verify-node-version.cjs
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: update harden-runner to v2.13.2 across workflows
  .github/workflows/comment-issue.yml
  .github/workflows/lint.yml
  .github/workflows/lock-file-maintenance.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/test.yml
Due: prettier --config=.prettierrc.cjs --write

chore: add license and update documentation
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/freestyle.md
  .github/TROUBLESHOOT.md
  .github/assets/anolilab.svg
  .github/assets/package-og.svg
  LICENSE.md
  README.md
  package.json
  pnpm-workspace.yaml
Due: prettier --config=.prettierrc.cjs --write

chore: update license badge and link in README.md
  README.md
Due: prettier --config=.prettierrc.cjs --write

chore: update pnpm-lock and workspace configuration
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --config=.prettierrc.cjs --write

chore: update .yamllint.yaml for consistency and clarity
  .yamllint.yaml
Due: prettier --config=.prettierrc.cjs --write

fix: update Tailwind CSS configuration and dependencies
  assets/style.css
  index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.js
  tailwind.config.js
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint . --ext js,jsx,ts,tsx --max-warnings=1 --config .eslintrc.cjs --cache --cache-strategy content . --fix

chore: update semantic-pull-request.yml for type formatting
  .github/workflows/semantic-pull-request.yml
Due: prettier --config=.prettierrc.cjs --write

fix(deps): update github-actions (#156)
  .github/workflows/codeql.yml
  .github/workflows/comment-issue.yml
  .github/workflows/dependency-review.yml
  .github/workflows/introspect.yml
  .github/workflows/lint.yml
  .github/workflows/lock-file-maintenance.yml
  .github/workflows/require-allow-edits.yml
  .github/workflows/scorecards.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/test.yml
Due: prettier --config=.prettierrc.cjs --write

chore: add @vitest/coverage-v8 dependency
  package.json
  pnpm-lock.yaml
Due: prettier --config=.prettierrc.cjs --write

chore(deps): update dependencies and workspace configuration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --config=.prettierrc.cjs --write

chore(ci): drop require-allow-edits and pin actions to latest
  .github/workflows/codeql.yml
  .github/workflows/comment-issue.yml
  .github/workflows/dependency-review.yml
  .github/workflows/introspect.yml
  .github/workflows/lint.yml
  .github/workflows/lock-file-maintenance.yml
  .github/workflows/require-allow-edits.yml
  .github/workflows/scorecards.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/test.yml
Due: prettier --config=.prettierrc.cjs --write
